<footer class="footer footer--compact">
    <div class="footer__grid section-container">
        <div>
            <div class="footer__brand">FUWANS</div>
            <p class="footer__summary">2024 FUWANS. Modern mirasi sessiz, guclu ve kalici formlarla yeniden yorumlar.</p>
        </div>
        <div class="footer__links footer__links--single">
            <div>
                <span>Musteri Iliskileri</span>
                <a href="#">Surdurulebilirlik</a>
                <a href="#">Yasal Bilgilendirme</a>
            </div>
        </div>
        <div class="footer__meta">
            <span>Iletisim</span>
            <a href="#">Teslimat</a>
            <a href="#">Bulten</a>
        </div>
    </div>
</footer>
