bin/
obj/
.vs/
*.db
*.db-shm
*.db-wal
run.out
run.err

*.user
*.suo

appsettings.*.local.json

/node_modules
/vendor
/dist
/public/build
/.idea
/.vscode
/.fleet
Homestead.json
Homestead.yaml
auth.json
npm-debug.log
yarn-error.log
/.env
/.env.*
!.env.example
/.phpunit.cache
/storage/*.key
/storage/framework/cache/*
/storage/framework/sessions/*
/storage/framework/views/*
/storage/logs/*
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
